<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta property="og:title" content="Matador de Tickets">
    <meta property="og:description" content="Jogo simples com as delicias e as dores de ser dev">1904 x 927
    <meta property="og:image" content="http://fadi.ga/capa.PNG">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1904"> /** PIXELS **/
    <meta property="og:image:height" content="927"> /** PIXELS **/
    <title>O Matador de Issues</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
    <script src="http://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
       <div class="panel scores">
           <div class="score">
               <h1 >Desenvolvedor</h1>
               <div class="life-bar">
                   <div 
                        class="life" 
                        :class="playerColor"
                        :style="{width: playerLife+'%'}"
                    ></div>
                </div>
                <div>{{playerLife}} %</div>
           </div>
           <div class="score">
                <h1>Issue {{ticketNumber}}</h1>
                <div class="life-bar ">
                    <div 
                        class="life" 
                        :class="ticketColor"
                        :style="{width: ticketLife+'%'}"
                    ></div>
                </div>
                <div>{{ticketLife}} %</div>
        </div>
       </div>
        <div v-if="hasResult" class="panel result">
            <div 
                v-if="ticketLife == 0" 
                class="win"
                >
                Issue Resolvida :D
            </div>
            <div 
                v-else 
                class="lose"
               >
                O Desenvolvedor Pediu Demissão :(
            </div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack" @click="attack(false)">Codificar</button>
                <button class="btn especial-attack" @click="attack(true)">Codar com Redbull</button>
                <button class="btn heal" @click="healAndHurt()" >Relaxar um Pouco</button>
                <button class="btn give-up" @click="running = false">Desistir</button>
            </template>
            <template v-else>
                <button class="btn new-game"  @click="startGame()">Iniciar Jogo</button>
            </template>    
        </div>
        <div 
            class="panel logs"
            v-if="logs.length">
            <ul>
                <li 
                v-for="log in logs"
                class="log"
                :class="log.cls"
                >{{log.txt}}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>